{% extends "site_base.html" %}
{% block content %}
  <h1>
    Messages
  </h1>
  {% for message in messages %}
  <div class="row">
    <div class="three columns">
      <a href="/users/{{ message.user }}">
        {{ message.user }}</a>
      - {{ message.time|round|int }}
    </div>
    <div class="nine columns">
      <p>{{message.message }}</p>
    </div>
  </div>
  {% endfor %}

  <hr>

  <form action="" method="post">
    <label>
      Your Message:
      <br>
      <textarea name="message" rows="10" cols="50">What is on your mind?</textarea>
    </label>
    <br />
    <input type="submit" value="Submit" />
  </form>
{% endblock content %}
