{% extends "site_base.html" %}
{% block content %}
  <h1>Nice try, you still have no friends</h1>
  <ul>
    {% for friend in friends %}
      <li>
        <a href="/users/{{ friend }}">
          {{ friend }} is your friend
        </a>
      </li>
    {% endfor %}
  </ul>
  <h2>Add more friends</h2>
  <ul>
    {% for nofriend in nofriends %}
      <li>
        <a href="/friend/{{ nofriend }}/add">
          Add {{ nofriend }} as a friend
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
